{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <h1>{{ status_message }}<br><br><font face="Courier New">{{ the_word.hint }}</font><br><br></h1>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "js/hanger.js" %}"></script>
    <script src="{% static "js/hanger-ajax.js" %}"></script>
    <body onload="DrawHanger({{ the_word.attempts_left }});">
        <table>
            <tr>
                <td>
                    {% if not the_word.finished %}
                        <form action= "{% url 'hanger:guess' %}" method="get">
                            {% csrf_token %}
                            Your letter :<input type="text" id="guess_letter" name="guess_letter" size = 1 autofocus />
                            <input type="submit" value="Guess" />
                        </form>
                    {% endif %}
                    <form action= "{% url 'hanger:guess' %}" method="get">
                        <input type="hidden" id="guess_letter" name="guess_letter" value = "*"  />
                        <input type = "submit" value = "Restart" />
                    </form>
                    <br><br>
                    Used letters: {{ the_word.used_letters }}
                    <br><br>
                    Wrong attempts left: {{ the_word.attempts_left}}
                    {% if debug %}
                        <br><br>
                        <font color="#C0C0C0">The word is : {{ the_word.get_answer }}</font>
                        <br><br>
                        <!--form action = "{% url 'hanger:showme' %}" method="get"-->
                            <!--input type = "submit" id = "show_it" value = "Show me..." /-->
                            <button id="show it">Show me...</button>
                        <!--/form-->
                        <br><br>
                        <div id="the_object">
                            {{ object_to_show }}
                        </div>
                    {% endif %}
                </td>
                <td>
                    <canvas id="Canvas1" width="100" height="200">Ваш браузер не поддерживает HTML5 canvas, стыдитесь</canvas>
                </td>
            </tr>
        </table>
    </body>
</html>