<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <h1>{{ status_message }}<br><br><font face="Courier New">{{ the_word.hint }}</font><br><br></h1>
    </head>
    <script language='javascript'>
        function DrawHanger(stage) {
            cnv = document.getElementById("Canvas1");
            ctx = cnv.getContext("2d");
			ctx.beginPath();
			ctx.moveTo(10,180); //base
			if(stage<10)ctx.lineTo(50,180);
		    ctx.moveTo(30,180); //pole
		    if(stage<9)ctx.lineTo(30,20);
		    if(stage<8)ctx.lineTo(80,20); //beam
		    if(stage<7)ctx.lineTo(80,40); //rope
		    if(stage<6)ctx.arc(80, 50, 10, 0, Math.PI * 2, false); // head
		    ctx.moveTo(80,60); //torso
		    if(stage<5)ctx.lineTo(80,100);
		    ctx.moveTo(60,75); // hand1
		    if(stage<4)ctx.lineTo(80,65);
		    if(stage<3)ctx.lineTo(100,75); //hand2
            ctx.moveTo(65, 135); //leg1
            if(stage<2)ctx.lineTo(80, 100);
            if(stage<1)ctx.lineTo(95, 135); //leg2
			ctx.strokeStyle = "rgba(0,0,0,1)";
			ctx.stroke();
		}
    </script>
    <body onload="DrawHanger({{ the_word.attempts_left }});">
        <table>
            <tr>
                <td>
                    {% if not the_word.finished %}
                        <form action= "{% url 'hanger:guess' %}" method="get">
                            {% csrf_token %}
                            Your letter :<input type="text" id="guess_letter" name="guess_letter" size = 1 autofocus />
                            <input type="submit" value="Guess" />
                        </form>
                    {% endif %}
                    <form action= "{% url 'hanger:guess' %}" method="get">
                        <input type="hidden" id="guess_letter" name="guess_letter" value = "*"  />
                        <input type = "submit" value = "Restart" />
                    </form>
                    <br><br>
                    Used letters: {{ the_word.used_letters }}
                    <br><br>
                    Wrong attempts left: {{ the_word.attempts_left}}
                    {% if debug %}
                        <br><br>
                        <font color="#C0C0C0">The word is : {{ the_word.get_answer }}</font>
                    {% endif %}
                </td>
                <td>
                    <canvas id="Canvas1" width="100" height="200">Ваш браузер не поддерживает HTML5 canvas, стыдитесь</canvas>
                </td>
            </tr>
        </table>
    </body>
</html>